@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

@font-face {
  font-family: 'Moneygraphy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2101@1.1/Moneygraphy-R.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Pretendard', 'Noto Sans KR', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #171717;
  background-color: #f5f5f5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
